.postcard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
  padding: 15px 20px;
  background-color: #3f3351;
  color: #fff;
  border-radius: 5px;
  &__user {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__body {
    text-align: justify;
  }
  &__tags {
    display: flex;
    gap: 10px;
    &__button {
      background: #864879;
      padding: 2px 15px;
      border-radius: 15px;
      border: none;
      outline: none;
      color: #fff;
      font-family: Roboto;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
      &:hover {
        background: #6d2c5f;
      }
    }
  }
  &__footer {
    --iconsize: 22px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;
    p {
      cursor: default;
    }
    &__left {
      display: flex;
      gap: 15px;
      align-items: center;
      &__reaction {
        display: flex;
        gap: 4px;
        align-items: center;
        &__button {
          display: flex;
          border: none;
          outline: none;
          background: none;
          font-size: var(--iconsize);
          cursor: pointer;
        }
      }
    }
    &__right {
      display: flex;
      gap: 4px;
      &__views {
        font-size: var(--iconsize);
      }
    }
  }
}
